<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<springProfile name="local">
		<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
		<root level="DEBUG">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
		<root level="trace">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
</configuration>